@import "./pages/welcome.css";
@import "./vars/colors.css";
@import "./vars/fonts.css";
@import "./components/question-component.css";

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}