:root {
  --bg-buddy-peach: #FCE8D0;
  --bg-color-container: #FFFAF3;
  --bg-color-button: #5B4A42;
  --color-drop-shadow: rgba(0, 0, 0, 0.25);
  --color-title: #322E29;
  --color-text: #322E29;
  --color-button-text: #FFFAF3;
}