@import "../vars/colors.css";

.welcome-page {
    height: 100vh;
    background-color: var(--bg-buddy-peach);
}

.welcome-page-container {
    height: inherit;
    display: flex;
    flex-flow: row wrap;
}
        
.welcome-page-dog-graphic {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dog-graphic {
    width: 75%;
}

.welcome-page-text-box-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome-page-text-box {
    width: 670px;
    height: 300px;
    background-color: var(--bg-color-container);
    box-shadow: 0px 4px 4px var(--color-drop-shadow);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-right: 40px;
}

.title {
    font-weight: 500;
    padding: 0;
    margin: 0;
    font-family: Cabin Sketch;
    font-size: 72px;
    color: var(--color-title);
    padding-top: 30px;
}

.subtitle {
    margin: 0;
    font-weight: normal;
    font-family: Avenir Next;
    font-size: 25px;
    color: var(--color-text);
}

.lets-play {
    width: 300px;
    height: 75px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Avenir Next;
    font-weight: bold;
    font-size: 25px;
    line-height: 46px;
    color: var(--color-button-text);
    background-color: var(--bg-color-button);
    text-transform: uppercase;
    cursor: pointer;
}