<div class="welcome-page">
  <div class="welcome-page-container">
    <div class="welcome-page-dog-graphic">
      <img class="dog-graphic" alt="picture of dog" src="/assets/images/dog-graphic.png" >
    </div>
    <div class="welcome-page-text-box-container">
      <div class="welcome-page-text-box">
        <div class="title">NAME THAT PUP</div>
        <div class="subtitle">Match the puppy picture to its name</div>
        {{#link-to "game" tagName="button" class="lets-play"}}Let's play{{/link-to}}
      </div>
    </div>
  </div>
</div>

{{outlet}}